label { 
  display: block;
  margin: auto;
  padding: 10%;
  font-size: var(--form-text-size);
  font-family: var(--display-font);
}

em {
  font-size: 0.4em;
}

input[type="number"] {
  font-size: var(--input-text-size);
  font-family: var(--display-font);
  width: 2.5em;
  padding: 0.2em;
  outline: none;
}

input[max="240"] {
  width: 3.5em;
}

input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
 }

.form-container {
  text-align: center;  
  height: var(--form-height);
  width: var(--form-width);
}

.submit-button {
  color: var(--submit-button-color);
  color: var(--button-text-color);
  background-color: var(--display-background-color);
  font-family: var(--main-font);
  font-size: var(--button-text-size);
  font-weight: var(--button-text-weight);
  height: 10%;
  width: 60%;
  border-radius: 20px;
}

.submit-button:hover {
  color: var(--submit-button-hover-color);
  cursor: pointer;
}


.input-container {
  align-items: center;
  background: var(--display-background-color);
  height: var(--display-height);
  padding: 0 4%;
  margin: 4% 4% 0 4%;
  width: var(--display-width);
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.logo {
  height: 100px;
}