.keypad-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: var(--keypad-height);
  padding: 4%;
  margin: 4%;
  width: var(--keypad-width);
}

.button-container {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
}
