.display-container {
  align-items: center;
  background: var(--display-background-color);
  height: var(--display-height);
  padding: 0 4%;
  margin: 0% 4% 4% 4%;
  width: var(--display-width);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.display-value {
  padding: 15%;
  color: var(--display-text-color);
  font-size: var(--display-text-size);
  font-family: var(--display-font);
  text-align: center;
  overflow: hidden;
}
