/*
app variables
*/

:root {
  /* background colors */
  --glucometer-background-color: #202020;
  --display-background-color: #f6f6ff;

  /* font */
  --main-font: 'Orbitron', sans-serif;

  /* font colors */
  --display-text-color: #E6801C;

  /* font sizes */
  --display-text-size: 4em;

  /* font weights */
  --display-text-weight: 400;

  /* glucometer dimensions */
  --glucometer-height: 72%;
  --glucometer-width: 36%;

  /* display dimensions */
  --display-height: 68%;
  --display-width: 84%;

    /* keypad dimensions */
    --keypad-height: 20%;
    --keypad-width: 88%;
}

/*
media query for tablet or smaller screen
*/

@media screen and (max-width: 1024px) {
  :root {
    /* glucometer dimensions */
    --glucometer-height: 100%;
    --glucometer-width: 100%;
  }
}

/*
app CSS reset
*/

body, div, p {
  margin: 0;
  padding: 0;
}