/*
app variables
*/

:root {
  /* background colors */
  --glucometer-background-color: #202020;
  --display-background-color: #f9f9ff;
  --submit-button-color: #808080;
  --submit-button-color-hover: #303030;

  /* font */
  --main-font: 'Roboto Mono', monospace;
  --display-font: 'Press Start 2P', cursive;

  /* font colors */
  --display-text-color: #E6801C;
  --button-text-color: #6e6e6e;

  /* font sizes */
  --display-text-size: 2.5em;
  --button-text-size: 2.5em;
  --form-text-size: 1.5em;
  --input-text-size: 1em;

  /* font weights */
  --display-text-weight: 400;
  --button-text-weight: 700;

  /* glucometer dimensions */
  --glucometer-height: 72%;
  --glucometer-width: 36%;

  /* form dimensions */
  --form-height: 100%;
  --form-width: 100%;

  /* display dimensions */
  --display-height: 34%;
  --display-width: 84%;
}

/*
media query for tablet or smaller screen
*/

@media screen and (max-width: 1024px) {
  :root {
    /* glucometer dimensions */
    --glucometer-height: 100%;
    --glucometer-width: 100%;
  }
}

/*
app CSS reset
*/

body, div, p {
  margin: 0;
  padding: 0;
}